# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.TGbot.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\ДЗ Шаг\С#\TGbot\.idea\.idea.TGbot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
